[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
format = "pipenv run autopep8 . --recursive --in-place --pep8-passes 2000 --verbose"

[packages]
brighthive-jwt = {editable = true, path = "."}

[dev-packages]
pytest = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
